body {
    background-image: url('images/morning.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    height: 100vh;
    background-position: center;
}

h1 {
    text-align: center;
    color: #fff;
}

#title-1 {
    font-family: "DM Sans";
    font-weight: 700;
    font-size: 64px;
}

#title-2 {
    font-family: "Fahkwang";
    font-weight: 500;
    font-size: 64px;
}

#time {
    font-family: "DM Sans";
    font-weight: 700;
    font-size: 80px;
    text-align: center;
    margin: auto;
    width: 100%;
    color: #fff;
    position: absolute;
    top: 10vw;
}

#daylist {
    font-family: "DM Sans";
    text-align: center;
    margin: auto;
    width: 100%;
    color: #fff;
    position: absolute;
    top: 10vw;
}

#playlist {
    position: absolute;
    display: block;
    width: 50vw;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%, 65%);
}

.result {
    font-family: "DM Sans";
    text-align: center;
    margin: auto;
    width: 100%;
    color: #fff;
    position: absolute;
    top: 25vw;
}

.fa-backward-step {
    position: absolute;
    bottom: 40%;
    left: 10%;
    color: #fff;
    font-size: 10vw;
}

.fa-forward-step {
    position: absolute;
    bottom: 40%;
    right: 10%;
    color: #fff;
    font-size: 10vw;
}

@media only screen and (min-width: 600px) {
    .result {
        top: 7vw;
    }

    #playlist {
        width: 20vw;
        left: 50%;
        bottom: 50%;
        transform: translate(-50%, 65%);
    }

    .fa-backward-step {
        bottom: 30%;
        left: 25%;
        font-size: 5vw;
    }
    
    .fa-forward-step {
        bottom: 30%;
        right: 25%;
        font-size: 5vw;
    }
}