#playlist {
    overflow: hidden;
    width: 100vw;
}

#result {
    font-family: "DM Sans";
    text-align: center;
    margin: auto;
    width: 100%;
    color: #fff;
    position: absolute;
    top: 10vw;
}

/* #interface {
    position: absolute;
    bottom: 50%;
    width: 100%;
    margin-left: 50%;
    margin-right: 50%;
} */

.fa-backward-step {
    position: absolute;
    bottom: 25%;
    left: 25%;
    color: #fff;
    font-size: 5vw;
}

.fa-forward-step {
    position: absolute;
    bottom: 25%;
    right: 25%;
    color: #fff;
    font-size: 5vw;
}