#my-audio {
    opacity: 0;
}

.hidden {
    opacity: 0;
}

.showing {
    opacity: 1;
}

.fa-volume-xmark, .fa-volume-low{
    position: absolute;
    font-size: 36px;
    color: #000;
    top: 7vw;
    right: 2vw;
}

.q {
    font-family: "Reddit Sans";
    font-size: 16px;
    line-height: 2rem;
    font-weight: 600;
}

#a2, #a3, #a4, #a5, #a6 {
    padding-bottom: 32px;
    font-family: "Gochi Hand";
    font-size: 32px;
    margin-top: 8px;
}

#results {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.audio {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

img {
    max-width: 30vw;
    border-top: 20px solid #F0EFEB;
    border-right: 20px solid #F0EFEB;
    border-bottom: 100px solid #F0EFEB;
    border-left: 20px solid #F0EFEB;
    -webkit-box-shadow: 8px 8px 32px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 8px 8px 32px 0px rgba(0,0,0,0.25);
    box-shadow: 8px 8px 32px 0px rgba(0,0,0,0.25);
    margin: 0 auto 0 auto;
    display: block;
}

section article {
    width: 50vw;
}

a, .submit, button {
    font-family: "Reddit Sans";
    font-size: 18px;
    font-weight: 500;
    padding: 8px 16px;
    color: #fff;
    border-radius: 4px;
    background: #333;
    margin-bottom: 80px;
}

#q1 {
    position: relative;
    top: 680px;
    text-align:center;    
}