/* CSS Resets */
h1, h2, h3, h4, p, nav ul {
    padding: 0;
    margin: 0;
    color: #666;
}
nav ul {
    list-style-type: none;
}
img { max-width: 100%; display: block; }
* { box-sizing: border-box;}

/* end Resets */
html {
    scroll-behavior: smooth;
}

nav ul li a {
    text-decoration: none;
    display: block;
    color: #000;
    font-weight: bold;
    text-align: center;
    padding: 10px;
}

footer {
    background-color: #FFF;
}

header, section, footer {
    padding: 100px;
}

section:nth-child(even){
    background-color: #FFFDF3;
}

.container {
    max-width: 1000px;
}

h1, h2 {
    margin-bottom: .5em;
}

p, a, li {
    line-height: 1.4em;
    margin-bottom: 1em;
    font-family: "Reddit Sans";
    font-size: 16px;
    line-height: 2rem;
    color: #333;
}

ol li {
    margin-bottom: 1em;
}

img {
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

h1 {
    font-family: "Reddit Sans";
    font-size: 36px;
}

h2 {
    font-family: "Gochi Hand";
    font-size: 24px;
}

h3 {
    font-family: "Reddit Sans";
    font-size: 18px;
}

#contact {
    display: flex;
    gap: 8px;
}

header {
    background-image: url(images/banner.jpg);
    background-size: cover;
}

@media only screen and (min-width: 768px) {
    nav ul { display: flex; }
    nav ul li { flex: 1; }
}

@media only screen and (min-width: 1000px) {
    .container { 
        margin: auto;
        width: 50vw;
    }
    
    nav ul {
        max-width: 1000px;
        margin: auto;
    }
}