body {
    color: #333;
    max-width: 60vw;
    margin: auto;
    text-align: left;
}

img {
    max-width: 100%;
}

input, textarea {
    display: block;
    margin-bottom: 32px;
}

h1 {
    font-family: "Gochi Hand";
    font-size: 40px;
}

p, label, h2 {
    font-family: "Reddit Sans";
    font-size: 16px;
    line-height: 2rem;
}

h2 {
    text-align: center;
    position: relative;
    top: 350px;
}

#about {
    margin: 64vw 0;
}

button, #submit {
    font-family: "Reddit Sans";
    font-size: 18px;
    font-weight: 500;
    padding: 8px 16px;
    color: #fff;
    border-radius: 4px;
    background: #333;
    display: block;
}

#card {
    height: 270px;
    width: 378px;
    margin: 50px auto;
    border-radius: 16px;
    background-image: url('images/card.png');
    background-size: cover;
    /* background-position: bottom; */
    -webkit-box-shadow: 8px 8px 32px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 8px 8px 32px 0px rgba(0,0,0,0.25);
    box-shadow: 8px 8px 32px 0px rgba(0,0,0,0.25);
}

#card p {
    font-weight: 500;
    text-align: center;
    color: #333;
    display: block;
    padding: 50% 16px;
}

footer {
    display: flex;
    justify-content: space-around;
}

a {
    color: #C8C8C8;
    text-decoration: none;
}

#upload {
    border: solid #C8C8C8;
    width: 270px;
    height: 378px;
    border-radius: 16px;
}

#form {
    margin: auto;
}

#play {
    margin: 32px auto 48px auto;
    border: #FC9310;
    background: #FC9310;
}

label, input {
    margin: 16px 0 0 16px;
}

#titlename {
    position: relative;
    bottom: 80px;
}

#fileupload {
    margin-bottom: 32px;
}

#submit {
    margin: 120px auto 0 auto;
}

img {
    border-top: 20px solid #F0EFEB;
    border-right: 20px solid #F0EFEB;
    border-bottom: 100px solid #F0EFEB;
    border-left: 20px solid #F0EFEB;
    -webkit-box-shadow: 8px 8px 32px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 8px 8px 32px 0px rgba(0,0,0,0.25);
    box-shadow: 8px 8px 32px 0px rgba(0,0,0,0.25);
}

.hidden {
    visibility: hidden;
    opacity: 0;
}

.showing {
    visibility: visible;
    opacity: 1;
}


@media only screen and (min-width: 600px) {
    body {
        max-width: 45vw;
    }

    h1 {
        font-size: 80px;
    }

    #about {
        margin: 16vw 0;
    }

    #response {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 80px;
    }

    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}